[Desktop Entry]
Type=Application
Name=Signal
Comment=Placed on the communication scratchpad by Hyprland
Exec=signal-desktop
Terminal=false
X-GNOME-Autostart-enabled=true
